<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elatesoftware.meetings">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true">
    </uses-feature>

    <application
        android:name=".application.MeetingsApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.activity.all.PreViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/SplashTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.all.PinCodeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity
            android:name=".ui.activity.man.WorkManActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".ui.activity.woman.WorkWomanActivity"
            android:theme="@style/ThemeWoman"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name=".ui.activity.all.FilterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".ui.activity.man.AddDateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name=".ui.activity.all.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name=".ui.activity.all.ProfileEditActivity"
            android:theme="@style/ThemeWoman"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name=".ui.activity.woman.SearchManActivity"
            android:theme="@style/ThemeWoman"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name=".ui.activity.man.PreviewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name=".ui.activity.woman.ShowSearchDateActivity"
            android:theme="@style/ThemeWoman"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name=".ui.activity.man.ShowPendingWomenActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name=".ui.activity.all.ShowProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name=".ui.activity.all.show_date.ShowDateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name=".ui.activity.woman.ShowPendingDateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name=".ui.activity.all.show_date.ShowScheduledDateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:configChanges="keyboardHidden|orientation|screenSize"/>


        <service android:name=".service.RegisterService"/>
        <service android:name=".service.LoginService"/>
        <service android:name=".service.UpdateAccountService"/>
        <service android:name=".service.GetAccountInfoService"/>
        <service android:name=".service.CreateDateService"/>
        <service android:name=".service.AddPhotoService"/>
        <service android:name=".service.GetPhotosService" />
        <service android:name=".service.GetPhotoService"/>
        <service android:name=".service.DeletePhotoService"/>
        <service android:name=".service.GetDatesListService"/>
        <service android:name=".service.ExitService"/>
        <service android:name=".service.SearchDatesService"/>
        <service android:name=".service.GetProfileInfoService"/>
        <service android:name=".service.LocationService"/>
        <service android:name=".service.AddPartnerService"/>
        <service android:name=".service.GetPendingWomenService"/>
        <service android:name=".service.SelectPartnerService"/>
        <service
            android:name=".service.DatesMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB7MJrnVO5MlwmuePciAP5ahKEYwC9uAGI" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo_app" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
    </application>
</manifest>